.navbar {
    background-color: #CC2936; /*0D0029*/
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 45px; 
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 4;     
}

.navbar-title {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1%;
    width: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    position: absolute;
    padding-left: 660px;
    width: 1720px;
    margin-left: 30px;
    gap: 10px;
    
}

  
.nav-links li {
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    display: flex;

}
  
  
.nav-links li a {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    color: #D0D0D0;
    opacity: 40%;
    padding: 8px 16px;

}

.nav-links li a.active {
    background-color: #b40917; /* */
    padding: 8px 16px;
    opacity: 100%;
}

.nav-links li a:hover {
    color: #b40917;
    opacity: 100%;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 50%;
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 100px;
    padding-bottom: -100px;
}

ul li a:hover {
    background-color: #EAEAEA;
}

ul li:hover ul.dropdown {
    display: block;
}

