.navbar-falso {
    width: 1440px;
    height: 60px;
    background-color: #CC2936;
}

.minicontenedor-año3 {
height: auto;
}


.titulo-año3 {
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-top: 120px;
}

.contenedorclases-año3 {
    width: 1400px;
    height: 200px;
    margin-left: 50px;

}

.clase1-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase1-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.rectangulo-clase1 {
    background-color: #D9D9D9;
    width: 300px;
    height: 50px;
    display: inline-block;

}

.clase2-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase2-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase2 {
    background-color: #F4B6A5;
    width: 300px;
    height: 50px;
    display: inline-block;

}

.clase3-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase3-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.rectangulo-clase3 {
    background-color: #CE8C7C;
    width: 300px;
    height: 50px;
    display: inline-block;

}

.clase4-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase4-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase4 {
    background-color: #A7B2B7;
    width: 300px;
    height: 50px;
    display: inline-block;

}

.clase5-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase5-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase5 {
    background-color: #E4BC7C;
    width: 300px;
    height: 50px;
    display: inline-block;

}

.titulo2-año3 {
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 90px;
    margin-left: 50px;

}

.contenedorclases2-año3 {
    width: 1400px;
    height: 300px;
    margin-left: 50px;

}

.clase6-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase6-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase6 {
    background-color: #D9D9D9;
    width: 300px;
    height: 50px;
    display: inline-block;
}

.clase7-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase7-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase7 {
    background-color: #F4B6A5;
    width: 300px;
    height: 50px;
    display: inline-block;
}

.clase8-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase8-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase8 {
    background-color: #D36E54;
    width: 300px;
    height: 50px;
    display: inline-block;
}

.clase9-año3 {
    width: 400px;
    height: auto;
    margin-top: 0px;
    display: inline-block;
    padding-top: 50px;
    cursor: pointer;

}

.tituloclase9-año3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    display: inline-block;

}

.rectangulo-clase9 {
    background-color: #DFCCC5;
    width: 300px;
    height: 50px;
    display: inline-block;
}

.parrafo-inicio2 {
    width: 600px;
    font-size: 20px;
    align-content: center;
    text-align: center;

}

.faad {
    width: 800px;
    height: auto;
    flex-direction: column;
    align-items: center;
    display: block;
}

.titulomayor { 
    margin-top: 200px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;

}

